%article#content
  %h2.page-title
    Biografía
 
  .admin-crud.admin-head
    - if !@bio
      = link_to I18n.t('bio.index'), new_bio_path, :class => 'btn create'
    - else
      = link_to I18n.t('bio.index.edit'), edit_bio_path(@bio), :class => 'btn create' 

  - if @bio
    .content
      .box
        = paragraph(@bio.biografia)
      %figure
        = image_tag @bio.bio_picture(:index)
      
