#content
  %h2.page-title
    = page_title! I18n.t('fondo.edit') + ' ' + @fondo_seccion.title
  #inner-top
    = link_to I18n.t('cancel'), fondo_seccion_path(@fondo_seccion), :class => 'btn back'
  .content
    = render 'form'


