@import url(skeleton/base.css);
@import url(skeleton/skeleton.css);
@import "http://fonts.googleapis.com/css?family=Marvel:400,700,400italic,700italic";
/* line 1, ../../app/assets/stylesheets/partials/_layout.scss */
body {
  font: normal normal 16px/145% "Marvel", sans-serif;
}

/* line 2, ../../app/assets/stylesheets/partials/_layout.scss */
h1, h2, h3, h4, h5, h6, input, textarea, label {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
}

/* line 3, ../../app/assets/stylesheets/partials/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* line 4, ../../app/assets/stylesheets/partials/_layout.scss */
p {
  color: white;
  text-align: justify;
}

/* line 6, ../../app/assets/stylesheets/partials/_layout.scss */
a {
  text-decoration: none;
}

/* line 7, ../../app/assets/stylesheets/partials/_layout.scss */
img {
  vertical-align: top;
}

/* line 9, ../../app/assets/stylesheets/partials/_layout.scss */
.container {
  margin: 0;
}

/* line 10, ../../app/assets/stylesheets/partials/_layout.scss */
ul ul, ul ol, ol ol, ol ul {
  margin: 0;
}

/* line 14, ../../app/assets/stylesheets/partials/_layout.scss */
.inner {
  margin: 0 10px;
  padding: 15px 0;
}

/* 
---------------------------------
Header
--------------------------------- 
*/
/* line 22, ../../app/assets/stylesheets/partials/_layout.scss */
.one-third.column {
  background: url(../images/backgrounds/filter-black.png);
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 50;
}
/* line 26, ../../app/assets/stylesheets/partials/_layout.scss */
.one-third.column .inner {
  margin: 0;
  position: relative;
  min-height: 520px;
  *height: auto !important;
  height: 520px;
}

/* line 32, ../../app/assets/stylesheets/partials/_layout.scss */
h1#logo {
  margin: 0 0 40px 30px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 35, ../../app/assets/stylesheets/partials/_layout.scss */
h1#logo * {
  line-height: 100%;
}
/* line 38, ../../app/assets/stylesheets/partials/_layout.scss */
h1#logo a {
  color: white;
  font-size: 1em;
}
/* line 41, ../../app/assets/stylesheets/partials/_layout.scss */
h1#logo a b {
  display: block;
  font-size: 0.68em;
}

/* line 49, ../../app/assets/stylesheets/partials/_layout.scss */
header form#new_contacto {
  width: 400px;
  position: absolute;
  top: 135px;
  left: 110%;
}
/* line 51, ../../app/assets/stylesheets/partials/_layout.scss */
header form#new_contacto .field, header form#new_contacto .actions {
  width: 90%;
  margin: 0 auto;
}
/* line 53, ../../app/assets/stylesheets/partials/_layout.scss */
header form#new_contacto .field label, header form#new_contacto .field input, header form#new_contacto .actions label, header form#new_contacto .actions input {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
/* line 54, ../../app/assets/stylesheets/partials/_layout.scss */
header form#new_contacto .field label, header form#new_contacto .actions label {
  width: 100px;
}
/* line 55, ../../app/assets/stylesheets/partials/_layout.scss */
header form#new_contacto .field textarea, header form#new_contacto .actions textarea {
  width: 100%;
  min-width: 100%;
  min-height: 100px;
}
/* line 58, ../../app/assets/stylesheets/partials/_layout.scss */
header form#new_contacto .actions input {
  float: right;
  margin: 0;
}

/* line 63, ../../app/assets/stylesheets/partials/_layout.scss */
#menu-button {
  display: none;
  color: white;
  text-transform: uppercase;
  padding-left: 30px;
  line-height: 80%;
  font-size: 20px;
  float: left;
  width: 23px;
  height: 18px;
  background: url(../images/backgrounds/menu-icon.png) no-repeat 0px 0px;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 320px;
}

/* line 67, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu {
  background: url(../images/backgrounds/menu-icon.png) no-repeat 0px 0px;
  background-position: -100px -100px;
}
/* line 70, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li {
  margin: 0;
}
/* line 71, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-inicio a span {
  background-position: 0 1px;
}
/* line 72, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-inicio a:hover span, #main-menu ul li#btn-inicio b i {
  background-position: 0 -47px;
}
/* line 74, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-portafolio a span {
  background-position: 0 -97px;
}
/* line 75, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-portafolio a:hover span, #main-menu ul li#btn-portafolio b i {
  background-position: 0 -145px;
}
/* line 78, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li.portafolio-submenu a span {
  background-position: 0 -190px !important;
}
/* line 79, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li.portafolio-submenu a:hover span, #main-menu ul li.portafolio-submenu b i {
  background-position: 0 -238px !important;
}
/* line 81, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-ninos a span {
  background-position: 0 -190px;
}
/* line 82, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-ninos a:hover span, #main-menu ul li#btn-ninos b i {
  background-position: 0 -238px;
}
/* line 84, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-moda a span {
  background-position: 0 -190px;
}
/* line 85, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-moda a:hover span, #main-menu ul li#btn-moda b i {
  background-position: 0 -238px;
}
/* line 87, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-bio a span {
  background-position: 0 -494px;
}
/* line 88, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-bio a:hover span, #main-menu ul li#btn-bio b i {
  background-position: 0 -542px;
}
/* line 90, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-descarga a span {
  background-position: 0 -596px;
}
/* line 91, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-descarga a:hover span, #main-menu ul li#btn-descarga b i {
  background-position: 0 -644px;
}
/* line 93, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-videos a span {
  background-position: 0 -694px;
}
/* line 94, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li#btn-videos a:hover span, #main-menu ul li#btn-videos b i {
  background-position: 0 -742px;
}
/* line 99, ../../app/assets/stylesheets/partials/_mixins.scss */
#main-menu ul li span, #main-menu ul li i {
  padding-top: 10px;
  padding-bottom: 10px;
  background: url(../images/backgrounds/icons.png) no-repeat;
  display: block;
  padding-left: 40px;
}
/* line 106, ../../app/assets/stylesheets/partials/_mixins.scss */
#main-menu ul li b {
  background: url(../images/backgrounds/filter-white.png);
}
/* line 108, ../../app/assets/stylesheets/partials/_mixins.scss */
#main-menu ul li b i {
  color: #8add00;
}
/* line 98, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li a, #main-menu ul li b {
  padding-left: 30px;
  color: white;
  font-size: 18px;
  display: block;
}
/* line 119, ../../app/assets/stylesheets/partials/_mixins.scss */
#main-menu ul li a:hover, #main-menu ul li b:hover {
  background: url(../images/backgrounds/filter-white.png);
  color: #8add00;
}
/* line 99, ../../app/assets/stylesheets/partials/_mixins.scss */
#main-menu ul li a span, #main-menu ul li a i, #main-menu ul li b span, #main-menu ul li b i {
  padding-top: 10px;
  padding-bottom: 10px;
  background: url(../images/backgrounds/icons.png) no-repeat;
  display: block;
  padding-left: 40px;
}
/* line 106, ../../app/assets/stylesheets/partials/_mixins.scss */
#main-menu ul li a b, #main-menu ul li b b {
  background: url(../images/backgrounds/filter-white.png);
}
/* line 108, ../../app/assets/stylesheets/partials/_mixins.scss */
#main-menu ul li a b i, #main-menu ul li b b i {
  color: #8add00;
}
/* line 103, ../../app/assets/stylesheets/partials/_layout.scss */
#main-menu ul li ul li a, #main-menu ul li ul li b {
  padding-left: 60px;
}

/* line 113, ../../app/assets/stylesheets/partials/_layout.scss */
#contact-info {
  /* position: absolute;*/
  bottom: 40px;
  left: 0;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-left: 40px;
}
/* line 118, ../../app/assets/stylesheets/partials/_layout.scss */
#contact-info p {
  margin: 0;
}
/* line 120, ../../app/assets/stylesheets/partials/_layout.scss */
#contact-info p a#contact-us {
  display: block;
  background: #8add00;
  cursor: pointer;
  padding: 5px 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}
/* line 124, ../../app/assets/stylesheets/partials/_layout.scss */
#contact-info p span {
  padding-left: 30px;
  color: white;
  font-size: 18px;
  display: block;
  background: url(../images/backgrounds/icons.png) no-repeat;
}
/* line 119, ../../app/assets/stylesheets/partials/_mixins.scss */
#contact-info p span:hover {
  background: url(../images/backgrounds/filter-white.png);
  color: #8add00;
}
/* line 99, ../../app/assets/stylesheets/partials/_mixins.scss */
#contact-info p span span, #contact-info p span i {
  padding-top: 10px;
  padding-bottom: 10px;
  background: url(../images/backgrounds/icons.png) no-repeat;
  display: block;
  padding-left: 40px;
}
/* line 106, ../../app/assets/stylesheets/partials/_mixins.scss */
#contact-info p span b {
  background: url(../images/backgrounds/filter-white.png);
}
/* line 108, ../../app/assets/stylesheets/partials/_mixins.scss */
#contact-info p span b i {
  color: #8add00;
}
/* line 127, ../../app/assets/stylesheets/partials/_layout.scss */
#contact-info p span.phone {
  background-position: -10px -999px;
}
/* line 128, ../../app/assets/stylesheets/partials/_layout.scss */
#contact-info p span.phone:hover {
  background: url(../images/backgrounds/icons.png) no-repeat;
  background-position: -10px -1047px;
}
/* line 130, ../../app/assets/stylesheets/partials/_layout.scss */
#contact-info p span.email {
  background-position: -10px -1092px;
}
/* line 131, ../../app/assets/stylesheets/partials/_layout.scss */
#contact-info p span.email:hover {
  background: url(../images/backgrounds/icons.png) no-repeat;
  background-position: -10px -1140px;
}

/* line 137, ../../app/assets/stylesheets/partials/_layout.scss */
.shared-social.follow p {
  margin: 0 0 0 40px;
  color: #8add00;
  font-size: 20px;
}
/* line 141, ../../app/assets/stylesheets/partials/_layout.scss */
.shared-social ul li {
  margin: 0;
}
/* line 143, ../../app/assets/stylesheets/partials/_layout.scss */
.shared-social ul li.btn-facebook a span {
  background-position: 0 -792px;
}
/* line 144, ../../app/assets/stylesheets/partials/_layout.scss */
.shared-social ul li.btn-facebook a:hover span {
  background-position: 0 -840px;
}
/* line 146, ../../app/assets/stylesheets/partials/_layout.scss */
.shared-social ul li.btn-twitter a span {
  background-position: 0 -900px;
}
/* line 147, ../../app/assets/stylesheets/partials/_layout.scss */
.shared-social ul li.btn-twitter a:hover span {
  background-position: 0 -948px;
}
/* line 148, ../../app/assets/stylesheets/partials/_layout.scss */
.shared-social ul li a {
  padding-left: 30px;
  color: white;
  font-size: 18px;
  display: block;
}
/* line 119, ../../app/assets/stylesheets/partials/_mixins.scss */
.shared-social ul li a:hover {
  background: url(../images/backgrounds/filter-white.png);
  color: #8add00;
}
/* line 99, ../../app/assets/stylesheets/partials/_mixins.scss */
.shared-social ul li a span, .shared-social ul li a i {
  padding-top: 10px;
  padding-bottom: 10px;
  background: url(../images/backgrounds/icons.png) no-repeat;
  display: block;
  padding-left: 40px;
}
/* line 106, ../../app/assets/stylesheets/partials/_mixins.scss */
.shared-social ul li a b {
  background: url(../images/backgrounds/filter-white.png);
}
/* line 108, ../../app/assets/stylesheets/partials/_mixins.scss */
.shared-social ul li a b i {
  color: #8add00;
}

/* 
---------------------------------
Content
--------------------------------- 
*/
/* line 164, ../../app/assets/stylesheets/partials/_layout.scss */
h2.page-title, h3.user-title {
  padding: 5px 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
  background: url(../images/backgrounds/filter-black.png);
  font-size: 26px;
}

/* line 181, ../../app/assets/stylesheets/partials/_layout.scss */
.gallery li {
  margin: 0 10px 15px 0;
  float: left;
  width: 180px;
}
/* line 184, ../../app/assets/stylesheets/partials/_layout.scss */
.gallery li a {
  width: 180px;
  float: left;
}
/* line 187, ../../app/assets/stylesheets/partials/_layout.scss */
.gallery li a.caption {
  background: url(../images/backgrounds/filter-black.png);
  color: white;
  text-align: center;
  padding: 2px 0;
}

/* line 194, ../../app/assets/stylesheets/partials/_layout.scss */
.pagination {
  float: left;
  clear: left;
  width: 100%;
  text-align: right;
}
/* line 205, ../../app/assets/stylesheets/partials/_layout.scss */
.pagination a:hover {
  color: #8add00;
}
/* line 210, ../../app/assets/stylesheets/partials/_layout.scss */
.pagination em.current {
  color: #8add00;
}
/* line 212, ../../app/assets/stylesheets/partials/_layout.scss */
.pagination span, .pagination a, .pagination em {
  background: url(../images/backgrounds/filter-black.png);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 5px 15px;
  text-align: center;
  text-transform: lowercase;
  color: white;
}

@media only screen and (max-width: 767px) {
  /* line 2, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container {
    width: 100%;
  }
  /* line 14, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container header.main.one-third.column {
    height: 90px !important;
    width: 100%;
  }
  /* line 17, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container header.main.one-third.column .inner {
    height: 90px !important;
    padding: 5px 0 0 !important;
    min-height: 90px;
    *height: auto !important;
    height: 90px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 23, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .two-thirds.column {
    width: 100%;
  }
  /* line 5, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #menu-button {
    display: block;
    cursor: pointer;
  }
  /* line 29, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu {
    display: none;
    position: absolute;
    top: 140px;
    right: 10%;
    background: url(../images/backgrounds/filter-black-darker.png);
    width: 80%;
  }
  /* line 31, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu.menu-open {
    display: block;
  }
  /* line 34, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul {
    padding: 5%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 37, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul li {
    border-bottom: 1px solid #444444;
    background: url(../images/backgrounds/symbols.png) no-repeat 100% 10px;
  }
  /* line 136, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul li li {
    background-position: 100% -167px;
  }
  /* line 41, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul ul {
    padding: 0;
  }
  /* line 44, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul ul li:nth-last-child(1) {
    border-bottom: 0;
  }
  /* line 53, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow {
    position: absolute;
    top: 5px;
    right: 200px;
  }
  /* line 55, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow p {
    margin: 0;
  }
  /* line 58, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul {
    margin: 5px 0 0 40px;
  }
  /* line 61, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li a {
    padding: 0;
  }
  /* line 63, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li a span {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 25px;
  }
  /* line 70, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-facebook span {
    background-position: -10px -798px !important;
  }
  /* line 73, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-facebook a:hover span {
    background-position: -10px -846px !important;
  }
  /* line 78, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-twitter span {
    background-position: -10px -904px !important;
  }
  /* line 81, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-twitter a:hover span {
    background-position: -10px -952px !important;
  }
  /* line 90, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #contact-info {
    position: absolute;
    bottom: auto;
    top: 5px;
    left: auto;
    right: 20px;
    margin: 0;
    padding-top: 30px;
  }
  /* line 92, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #contact-info #contact-us {
    margin-bottom: 0;
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 2, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container {
    width: 100%;
  }
  /* line 14, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container header.main.one-third.column {
    height: 90px !important;
    width: 100%;
  }
  /* line 17, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container header.main.one-third.column .inner {
    height: 90px !important;
    padding: 5px 0 0 !important;
    min-height: 90px;
    *height: auto !important;
    height: 90px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 23, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .two-thirds.column {
    width: 100%;
  }
  /* line 5, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #menu-button {
    display: block;
    cursor: pointer;
  }
  /* line 29, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu {
    display: none;
    position: absolute;
    top: 140px;
    right: 10%;
    background: url(../images/backgrounds/filter-black-darker.png);
    width: 80%;
  }
  /* line 31, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu.menu-open {
    display: block;
  }
  /* line 34, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul {
    padding: 5%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 37, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul li {
    border-bottom: 1px solid #444444;
    background: url(../images/backgrounds/symbols.png) no-repeat 100% 10px;
  }
  /* line 136, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul li li {
    background-position: 100% -167px;
  }
  /* line 41, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul ul {
    padding: 0;
  }
  /* line 44, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul ul li:nth-last-child(1) {
    border-bottom: 0;
  }
  /* line 53, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow {
    position: absolute;
    top: 5px;
    right: 200px;
  }
  /* line 55, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow p {
    margin: 0;
  }
  /* line 58, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul {
    margin: 5px 0 0 40px;
  }
  /* line 61, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li a {
    padding: 0;
  }
  /* line 63, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li a span {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 25px;
  }
  /* line 70, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-facebook span {
    background-position: -10px -798px !important;
  }
  /* line 73, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-facebook a:hover span {
    background-position: -10px -846px !important;
  }
  /* line 78, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-twitter span {
    background-position: -10px -904px !important;
  }
  /* line 81, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-twitter a:hover span {
    background-position: -10px -952px !important;
  }
  /* line 90, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #contact-info {
    position: absolute;
    bottom: auto;
    top: 5px;
    left: auto;
    right: 20px;
    margin: 0;
    padding-top: 30px;
  }
  /* line 92, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #contact-info #contact-us {
    margin-bottom: 0;
    display: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 2, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container {
    width: 100%;
  }
  /* line 14, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container header.main.one-third.column {
    height: 90px !important;
    width: 100%;
  }
  /* line 17, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container header.main.one-third.column .inner {
    height: 90px !important;
    padding: 5px 0 0 !important;
    min-height: 90px;
    *height: auto !important;
    height: 90px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 23, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .two-thirds.column {
    width: 100%;
  }
  /* line 5, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #menu-button {
    display: block;
    cursor: pointer;
  }
  /* line 29, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu {
    display: none;
    position: absolute;
    top: 140px;
    right: 10%;
    background: url(../images/backgrounds/filter-black-darker.png);
    width: 80%;
  }
  /* line 31, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu.menu-open {
    display: block;
  }
  /* line 34, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul {
    padding: 5%;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 37, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul li {
    border-bottom: 1px solid #444444;
    background: url(../images/backgrounds/symbols.png) no-repeat 100% 10px;
  }
  /* line 136, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul li li {
    background-position: 100% -167px;
  }
  /* line 41, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul ul {
    padding: 0;
  }
  /* line 44, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #main-menu ul ul li:nth-last-child(1) {
    border-bottom: 0;
  }
  /* line 53, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow {
    position: absolute;
    top: 5px;
    right: 200px;
  }
  /* line 55, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow p {
    margin: 0;
  }
  /* line 58, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul {
    margin: 5px 0 0 40px;
  }
  /* line 61, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li a {
    padding: 0;
  }
  /* line 63, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li a span {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 25px;
  }
  /* line 70, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-facebook span {
    background-position: -10px -798px !important;
  }
  /* line 73, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-facebook a:hover span {
    background-position: -10px -846px !important;
  }
  /* line 78, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-twitter span {
    background-position: -10px -904px !important;
  }
  /* line 81, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container .shared-social.follow ul li.btn-twitter a:hover span {
    background-position: -10px -952px !important;
  }
  /* line 90, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #contact-info {
    position: absolute;
    bottom: auto;
    top: 5px;
    left: auto;
    right: 20px;
    margin: 0;
    padding-top: 30px;
  }
  /* line 92, ../../app/assets/stylesheets/partials/_mixins.scss */
  .container #contact-info #contact-us {
    margin-bottom: 0;
    display: none;
  }
}
/* line 237, ../../app/assets/stylesheets/partials/_layout.scss */
#carousel, #carousel ul, #carousel li {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

/* line 247, ../../app/assets/stylesheets/partials/_layout.scss */
#carousel {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
}

/* line 256, ../../app/assets/stylesheets/partials/_layout.scss */
#carousel ul.animate {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 263, ../../app/assets/stylesheets/partials/_layout.scss */
#carousel ul {
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

/* line 274, ../../app/assets/stylesheets/partials/_layout.scss */
#carousel ul {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* line 279, ../../app/assets/stylesheets/partials/_layout.scss */
#carousel li {
  float: left;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 289, ../../app/assets/stylesheets/partials/_layout.scss */
.box {
  width: 280px;
  background: url(../images/backgrounds/filter-black.png);
  padding: 10px;
  float: left;
}

/* line 294, ../../app/assets/stylesheets/partials/_layout.scss */
#bios .content {
  width: 100%;
  zoom: 1;
}
/* line 187, ../../app/assets/stylesheets/partials/_mixins.scss */
#bios .content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 296, ../../app/assets/stylesheets/partials/_layout.scss */
#bios .content figure {
  float: left;
  padding-left: 10px;
}

/* line 301, ../../app/assets/stylesheets/partials/_layout.scss */
.admin-crud.admin-head {
  padding-bottom: 30px;
}
/* line 304, ../../app/assets/stylesheets/partials/_layout.scss */
.admin-crud .btn {
  background: url(../images/backgrounds/filter-black.png);
  padding: 5px 10px;
  color: white;
  font-size: 24px;
  color: white;
  border: 0;
}
/* line 309, ../../app/assets/stylesheets/partials/_layout.scss */
.btn.back + .admin-crud.admin-head {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 312, ../../app/assets/stylesheets/partials/_layout.scss */
.admin-crud.admin-iterate {
  background: url(../images/backgrounds/filter-black.png);
  margin-top: 2px;
  float: left;
  width: 100%;
}
/* line 315, ../../app/assets/stylesheets/partials/_layout.scss */
.admin-crud.admin-iterate a {
  color: white;
  float: left;
  width: auto;
  padding: 2px;
}
/* line 317, ../../app/assets/stylesheets/partials/_layout.scss */
.admin-crud.admin-iterate a + a {
  float: right;
}

/* line 322, ../../app/assets/stylesheets/partials/_layout.scss */
a.btn {
  background: url(../images/backgrounds/filter-black.png);
  padding: 5px 10px;
  color: white;
  font-size: 24px;
  color: white;
  border: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 330, ../../app/assets/stylesheets/partials/_layout.scss */
form {
  padding: 20px 15px;
  background: url(../images/backgrounds/filter-black.png);
  zoom: 1;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  min-width: 310px;
}
/* line 187, ../../app/assets/stylesheets/partials/_mixins.scss */
form:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 337, ../../app/assets/stylesheets/partials/_layout.scss */
form legend {
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
}
/* line 338, ../../app/assets/stylesheets/partials/_layout.scss */
form .field {
  padding: 0 0 15px;
}
/* line 340, ../../app/assets/stylesheets/partials/_layout.scss */
form .field label {
  color: white;
  font-size: 16px;
}
/* line 344, ../../app/assets/stylesheets/partials/_layout.scss */
form .field input, form .field select {
  margin: 0;
}
/* line 346, ../../app/assets/stylesheets/partials/_layout.scss */
body[id^="devise"] form .field input[type="email"], body[id^="devise"] form .field input[type="password"] {
  width: 270px;
  padding: 5px 0;
}
/* line 350, ../../app/assets/stylesheets/partials/_layout.scss */
form .field.date-select select {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 100px;
}
/* line 356, ../../app/assets/stylesheets/partials/_layout.scss */
form .actions {
  padding-top: 10px;
}
/* line 358, ../../app/assets/stylesheets/partials/_layout.scss */
form .actions input[type="submit"] {
  padding: 5px 10px;
  color: white;
  font-size: 24px;
  color: white;
  border: 0;
  background: #8add00;
  color: black;
  padding: 5px 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
  text-shadow: none;
}
/* line 162, ../../app/assets/stylesheets/partials/_mixins.scss */
form .actions input[type="submit"]:hover {
  border: 0;
}
/* line 363, ../../app/assets/stylesheets/partials/_layout.scss */
form a {
  color: #8add00;
}
/* line 365, ../../app/assets/stylesheets/partials/_layout.scss */
form a:hover {
  color: #8add00;
  text-decoration: underline;
}
/* line 368, ../../app/assets/stylesheets/partials/_layout.scss */
form a:visited {
  color: #8add00;
}

/* line 374, ../../app/assets/stylesheets/partials/_layout.scss */
#cerrar-form {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background: white;
}

/* line 379, ../../app/assets/stylesheets/partials/_layout.scss */
#success-message {
  font-size: 24px;
  text-align: center;
  color: white;
  display: none;
}
