.shared-social.follow
  %p
    Sigue a Renato en:
  %ul
    %li.btn-facebook
      = link_to content_tag(:span, 'Facebook'), '/', :target => '_blank'
    %li.btn-twitter
      = link_to content_tag(:span, 'Twitter'), '/', :target => '_blank'

