#content
  %h2.page-title
    = page_title! I18n.t('album.edit') + ' ' + @album.nombre
  #inner-top
    = link_to I18n.t('album.crud_back'), album_path(@album), :class => 'btn back'
  .content
    = render 'form'

