


$filter-black:                     url(../images/backgrounds/filter-black.png);
$filter-black-header-960:           url(../images/backgrounds/filter-black-header-960.png);
$filter-dark:                      url(../images/backgrounds/filter-black-darker.png);
$filter-white:                     url(../images/backgrounds/filter-white.png);
$icons:                            url(../images/backgrounds/icons.png) no-repeat;
$menu-icon:                        url(../images/backgrounds/menu-icon.png) no-repeat 0px 0px;
$symbols:                          url(../images/backgrounds/symbols.png) no-repeat 100% 10px;


$space:                            5px;
$space-vertical:                   $space*3;

$font-size-1:                      16px;
$font-size-2:                      20px;
$font-menu:                        18px;
$font-heading:                     26px;

$green:                            #8add00;
$gray:                             #444;
