- if !@album.nil?
  = form_for([@album, @foto], :html => {:multipart => true}) do |f|
    = render(:partial => 'fields', :locals => {:f => f})
- else
  = form_for(@foto, :html => {:multipart => true}) do |f|
    = render(:partial => 'fields', :locals => {:f => f})





