// carga los wallpapers y el @foto_title que es la categoría de la foto
- wallpaper_foto

#content
  %h2.page-title
    = page_title! @foto_title
  
  .admin-crud.admin-head
    =# link_to I18n.t('foto.new'), new_foto_path, :class => 'btn create'

  .content.gallery
    - @fotos.each do |foto|
      = image_tag foto.foto_picture(:index)


