#content
  %h2.page-title
    = page_title! I18n.t('fotos.matrimonios')
  
  .admin-crud.admin-head
    = link_to I18n.t('foto.new'), new_foto_path, :class => 'btn create'

  .content.gallery
    - @fotos.each do |foto|
      = image_tag foto.foto_picture(:index)

- wallpaper('Fotos')
